<head>
        <title>Hr system</title>
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <link rel='stylesheet' href='/stylesheets/AdminLTE.css'>
        <link rel='stylesheet' href='/stylesheets/AdminLTE-bootstrap-social.min.css'/>
        <link rel='stylesheet' href='/stylesheets/AdminLTE-fullcalendar.min.css'/>
        <link rel="stylesheet" href="/stylesheets/all.css">
        <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>