<!DOCTYPE html>
<html>
    <% include head%>
    <body>
        <% include sidebar%>
        <%include navbar %>
        <section class="content" id="interview">
            <h1 class="">Interview <%= data[0].name %></h1>
            <div class="int-time">
                <span class="pr-2 border-right">Interview time: <strong><%= data[0].interviewTime%></strong></span>
                <span><button onclick="arrivalTime()" class="btn btn-outline-success" id="time">Arrived</button></span>
            </div>
            <div class="arrived-at">
                <span>Arrived at: <span id="arrival"></span></span><br>
                <span id="late-or-early"></span>
            </div>
            <hr class="w-50">
        </section>




        <script src="/javascripts/jquery.min.js"></script>
        <script src="/javascripts/jquery-ui.min.js"></script>
        <script src="/javascripts/jquery.slimscroll.min.js"></script>
        <script src="/javascripts/popper.min.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>
        <script src="/javascripts/fastclick.js"></script>
        <script src="/javascripts/adminlte.js"></script>
        <script src="/javascripts/demo.js"></script>
        <script src="/javascripts/moment.js"></script>
        <script src="/javascripts/fullcalendar.min.js"></script>
        <script src="/javascripts/index.js"></script>

        <script>
       /*    function checkTime(i) {
            if (i < 10) {
                i = "0" + i;
            }
            return i;
            }

            function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            // add a zero in front of numbers<10
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('time').innerHTML = h + ":" + m + ":" + s;
            t = setTimeout(function() {
                startTime()
            }, 500);
            }
            startTime(); */
        </script>
    </body>
</html>