<!DOCTYPE html>
<html>
<% include head %>

<body style='background:#fbfbfb;'>

    <div class='container'>
        <div class='row'>
            <div class='col-md-10 offset-md-1 mt-5'>
                <!-- Horizontal Form -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title text-center mt-2">Registration</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form class="form-horizontal" method="POST" action="/register">
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="name" class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="name" placeholder="Name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="phone" class="col-sm-2 col-form-label">Phone</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="phone" placeholder="Phone">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="university" class="col-sm-2 col-form-label">University</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="university" placeholder="University">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="faculty" class="col-sm-2 col-form-label">Faculty</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="faculty" placeholder="Faculty">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="customSelect" class="col-sm-2 col-form-label">Year</label>
                                <div class="col-sm-10">
                                    <select class="custom-select" id="customSelect">
                                        <option>Preparatory (Engineering Students)</option>
                                        <option>First</option>
                                        <option>Second</option>
                                        <option>Third</option>
                                        <option>Fourth</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="inputPassword3"
                                        placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword3" class="col-sm-2 col-form-label">Confirm Password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="inputPassword3"
                                        placeholder="Confirm Password">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="regCode" class="col-sm-2 col-form-label">Registration Code</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="regCode" placeholder="Registration Code">
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="text-center pb-3">
                            <button type="submit" class="btn btn-info">Sign Up</button>
                        </div>
                        <!-- /.card-footer -->
                    </form>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>

</body>

</html>