*{
  margin: 0;
  padding:0;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a{
  color: #fff;
}
/*SIDEBAR START*/
.main-sidebar{
  background-color: #00629b;
  padding: 20px 0 0 10px;;
  color:#f1f1f1;
  position: fixed;
}
.user-panel .image img{
  margin-bottom:20px;
  max-width:100px;
  height:100px;
  border-radius: 50%;
}
aside .input-group input{
  border-radius: 10px;
}
.user-panel .info{
  background-color:#1776ae;
  padding:.5rem .7rem;
}
.user-panel .info p{
  font-size: 20px;
}

/*SIDEBAR END*/
/*NAVBAR START*/
nav i{
  color:#1776ae;
}
/*NAVBAR END*/
/*START CONTENT appplicants */
.content{
  padding: 0px 10px;
}
.content #applicants span{
  padding: 7px;
}
#applicants .input-group-sm .form-control{
  height:auto;
}
#applicants .call-info{
  position: fixed;
  border-radius: 10px;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.6);
  display: none;
}
#applicants button.true{
  background-color:#008d4c;
  color:#f1f1f1;
  padding:.375rem .75rem;
}
#applicants .call-info .info-container{
  position: absolute;
  top: 20%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  background-color:#f1f1f1;
  box-shadow: 0 0 5px;
}
#applicants .status{
  border-radius: 7px;
}
#applicants .full-data{
  position: fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-color: rgba(0, 0, 0, 0.397);
  display: none;;
}
#applicants .less-data{
  cursor: pointer;
}
#applicants .full-data .data{
  position: absolute;
  border-radius: 10px;
  top: 50%;
  left: 45%;
  margin-top: -50px;
  margin-left: -50px;
  background-color:#f1f1f1;
  box-shadow: 0 0 5px;
}
#applicants .full-data .data i{
  position: absolute;
  top:10px;
  right:10px;
  cursor: pointer;
}
/*END CONTENT applicants*/
/*START CALENDAR*/
.fc-event{
  color:white!important;
}
.fc-icon-left-single-arrow:after {
  content: "\2039"!important;
  font-weight: 700;
  font-size: 200%;
  top: -7%;
}
/* END CALENDAR*/

